h1{
   
    color :goldenrod;
}

body{
    background-color: green;
    text-align: center;
    color:white;
    font-weight: bold;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#message-el
{
    font-style: italic;
}

button{
    color:#016f32;
    width: 150px;
    background-color: goldenrod;
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: bold;
    border:none;
    border-radius: 2px;
    cursor: pointer;
    border-radius: 5px;
  box-shadow: 0 7px #999;
}